@import url('https://fonts.googleapis.com/css2?family=Lato&family=Marvel&family=Roboto&family=Ubuntu&display=swap');

/*
    font-family: 'Marvel', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
*/
* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Marvel', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.body {
    /* background-color: #FFF8E9; */
    background-color: #f5f5f5;
}

.navbar {
    background-color: #FFA1A1;
}

.navbar ul {
    display: flex;
    margin: auto;
}

.navbar ul li {
    padding: 0px 16px;
}

.IntroUser {
    display: block;
    width: 85%;
    margin: 42px auto;
}

.IntroUser #user_contant {
    display: flex;
    flex-direction: column;
}

#user_contant h2 {
    padding: 4px 0px;
}

#user_contant p {
    font-family: 'Marvel', sans-serif;
    font-weight: 500;
}

.OurServices {
    display: block;
    width: 85%;
    margin: 42px auto;
}

.innerInServices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFA1A1;
    border-radius: 16px;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    margin: 1rem;
}

.innerInServices p {
    display: flex;
    justify-content: center;
}

.innerInServices .serviceItem1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 16px;
    width: 10rem;
    height: 10rem;
}

.innerInServices .serviceItem2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 16px;
    width: 10rem;
    height: 10rem;
}

.innerInServices .serviceItem3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 16px;
    width: 10rem;
    height: 10rem;
}

.Ad_Form {
    display: block;
    width: 85%;
    margin: 16px auto;
}

.Ad_Form p {
    padding: 8px 0px;
}

.Ad_Form .details_form {
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.Ad_Form select {
    width: 10rem;
    text-align: center;
}

table,
tr,
td {
    display: flex;
    align-items: center;
    padding: 4px 24px;
}

.formbtn {
    background-color: #FFA1A1;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: black;
    color: white;
}